#viewport {
	display: flex;
	width: 100%;
	height: calc(100vh - 60px);
	overflow: auto;
	background: repeating-linear-gradient(
		45deg,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0) 60px,
		rgba(0, 0, 0, 0.15) 60px,
		rgba(0, 0, 0, 0.15) 120px
  );
	margin-top: 60px;
	overflow-y: scroll;
}

#login {
	height: 100%;
	width: 100%;
	display: none;
}

#login-page-container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#login-box {
	background-color: #252525;
	border-radius: 14px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 400px;
}

#login-box label {
	color: white;
	width: 100%;
}

#login-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	margin: 1em;
	width: 100%;
}

.login-text-box {
	margin: 0.75em 1.5em;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.login-text-box input[type=text], input[type=password] {
	font-size: 20px;
	width: 100%;
	border-radius: 6px;
}

.login-button-box {
	margin: 0.4em;
	display: flex;
	justify-content: center;
	width: 100%;
}

.login-button-box input[type=submit] {
	font-size: 20px;
	font-family: inherit;
	border-radius: 6px;
	padding: 0em 1em;
}

.login-error {
	margin: 1em;
	margin-top: 0;
	padding: 0.2em;
	font-size: 16px;
	width: 90%;
	text-align: center;
	border-radius: 6px;
	background-color: rgb(229, 53, 69);
}

#navbar {
	background-color: #252525;
	display: flex;
	align-content: center;
	font-size: 40;
	height: 60px;
	border-bottom: solid rgba(0,0,0,0.4) thin;
	z-index: 100;
	top: 0;
	width: 100%;
}

#navbar-left-buffer {
	width: 0px;
}

.navbar-content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-border {
	border-right-color: rgba(255, 255, 255, 0.3);
	border-right-style: solid;
	border-right-width: thin;
}

.sticky {
	position: fixed;
}

#navbar #logo {
  color: white;
	font-size: 40;
	position: relative;
	top: -4px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Walter Turncoat', 'Pangolin', 'Verdana';
}

#hamburger {
	height: 25px;
	width: 25px;
	flex: 1 1 auto;
}

#hamburger-box {
	display: flex;
	align-items: center;
}

.navbar-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#hamburger-menu {
	background-color: rgba(37, 37, 37, 0.9);
	height: calc(100% - 60px);
	width: 250px;
	z-index: 100;
	top: 60px;
	left: -251px;
	display: inline-block;
}

.hamburger-menu-button {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 30px;
	padding: 5px 20px 5px 20px;
	font-size: 24px;
	color: white;
	border-style: solid none solid none;
	border-width: thin;
	border-color: rgba(255, 255, 255, 0.3);
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	background-color: #252525;
}

.hamburger-menu-button-inactive {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 30px;
	padding: 5px 20px 5px 20px;
	font-size: 24px;
	color: grey;
	border-style: solid none solid none;
	border-width: thin;
	border-color: rgba(255, 255, 255, 0.3);
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	background-color: #252525;
}

#navbar #subtitle {
	color: white;
	font-size: 20;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#certs {
	margin-top: 20px;
  flex: 1 1 auto;
}

#no-cert-container {
	display: flex;
}

.no-cert-textbox {
	border-style: solid;
	border-radius: 8px;
	border-color: white;
	border-width: thick;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.15);
	color: white;
	font-size: 4vw;
	padding: 0.75em;
	position: relative;
	top: 30vh;
	margin: auto;
}

body {
	margin: 0px;
	background-color: #444444;
	overflow: hidden;
}

div {
	font-family: "Pangolin", "Walter Turncoat", "Verdana";
	color: rgba(0,0,0,.8);
}

.cert-grid-container {
	width: 100%;
}

.certs-content-header {
	background-color: rgba(0,0,0,.0700);
	border-radius: 8px 8px 0px 0px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0,0.0500);
	border-width: thin;
	text-align: center;
	font-size: 24;
	padding: 0.3em 0em;
	font-weight: bold;
	color: #FFFFFF;
}

.certs-content-body {
	padding: 0.5em 1em;
}

.cert-list-footer-container {
  margin: 4px 8px 4px 0;
	display: flex;
}

.cert-list-footer-left-buffer {
	align-self: center;
	align-content: center;
	display: flex;
	flex: 1 1 auto;
}

.cert-list-footer-timeline-label {
	color: white;
	text-align: right;
	font-size: 20px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.cert-list-body-timeline-container {
	position: relative;
	margin-right: 10px;
}

.cert-list-body-line-taper-in {
	height: 40px;
	width: 4px;
	position: relative;
	background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(0,0,0,0));
}

.cert-list-body-timeline-line {
	width: 4px;
	position: absolute;
	height: calc(100% - 80px);
	background-color: white;
}

.cert-list-body-line-taper-out {
	height: 40px;
	width: 4px;
	position: absolute;
	top: calc(100% - 40px);
	background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,0));
}

.cert-list-body {
	display: flex;
}

.cert-list-body-card-container {
	flex: 1 1 auto;
}

.cert-list-body-card-container {
  display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
}

.cert-list {
	width: 100%;
}

.cert-card {
	border-style: solid;
	border-width: thin;
	border-color: rgba(255,255,255, 0.1) rgba(0, 0, 0, 0.0300) rgba(0, 0, 0, 0.300) rgba(255, 255, 255, 0.1);
	margin: 0.5em 1em;
	border-radius: 8px;
	box-shadow: 7px 5px rgba(0,0,0,0.450);
}

.certs-content-label {
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	margin-top: 0.5em;
}

.certs-content-value {
	padding-left: 8px;
	margin-bottom: 0.1em;
	font-size: 18;
	word-wrap: break-word;
}

.certs-content-path-backend-container {
	margin-top: 0.35em;
	margin-left: 0em;
	background-color: rgba(0, 0, 0, 0.05);
	border-style: solid;
	border-width: thin;
	border-color: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1) rgba(0, 0, 0, 0.1) ;
	border-radius: 8px;
	padding: 0.5em;
}

.certs-content-path-backend-container .certs-content-label {
	margin-top: 0.25em;
	font-size: 12px;
	font-weight: bold;
}

.certs-content-path-backend-container .certs-content-value {
	margin-left: 0;
	padding-left: 0;
}

.horizontal-line {
	display: block;
	height: 2px;
  width: 95%;
	margin: auto;
	background-color: rgba(0,0,0,0.100);
}

.cert-list-footer-left-buffer .horizontal-line {
	width: 100%;
	background-color: white;
	height: 4px;
}

.horizontal-line-taper {
	height: 4px;
	width: 40px;
	position: relative;
	margin-right: 1%;
	background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(0,0,0,0));
}

.expired-card {
	background-color: #252525;
	box-shadow: 7px 5px rgb(229, 53, 69);
	border-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) rgba(255, 255, 255, 0.25) !important;
}

.expired-card .certs-content-header {
  border-color: rgba(255, 255, 255, 0.1);
}

.expired-card .certs-content-value {
	color: rgb(229, 53, 69);
}

@media only screen and (min-width: 600px) {
	#navbar #subtitle {
		 display: inline-block;
	}
}

@media only screen and (min-width: 1200px) {
	.cert-grid-container {
	  width: 50%;
  }

}

@media only screen and (min-width: 1800px) {
  .cert-grid-container {
	  width: 33.33333%;
  }
}

@media only screen and (min-width: 2400px) {
  .cert-grid-container {
	  width: 25%;
  }
}

@media only screen and (min-width: 3000px) {
  .cert-grid-container {
	  width: 20%;
  }
}

@media only screen and (min-width: 3600px) {
  .cert-grid-container {
	  width: 16.66666%;
  }
}
